# Ignore all by default
*
# Add back specific files
!*.py
!pyproject.toml
!.gitignore
!.pre-commit-config.yaml
!.github/
!.github/workflows/
!.github/workflows/*.yaml
!ruff.toml
!mypy.ini
!README.md
!CHANGELOG.md
!LICENSE
!segretini_matplottini
!segretini_matplottini/py.typed
!segretini_matplottini/plot/
!segretini_matplottini/utils/
!examples/
!data/
!data/*.csv
!data/notebooks/1_getting_started_with_barplots
!data/notebooks/1_getting_started_with_barplots/*.csv
!plots/
!plots/*.png
!plots/*.pdf
!plots/notebooks/1_getting_started_with_barplots
!plots/notebooks/1_getting_started_with_barplots/*.png
!plots/notebooks/1_getting_started_with_barplots/*.pdf
!tests/
!tests/plot/
!tests/utils/
!notebooks/
!notebooks/*.ipynb
!.vscode/