# Ignore all by default
*
# Add back specific files
!*.py
!pyproject.toml
!.gitignore
!README.md
!LICENSE
!segretini_matplottini
!segretini_matplottini/py.typed
!segretini_matplottini/plot
!segretini_matplottini/util
!examples/
!data/
!data/*.csv
!plots/
!.vscode/